comentario
HelenaTopamesilva2D  

body{
    background: rgb(200 77 123);
    color: beige;
font-family: "Gupter", serif;
margin:0px;
margin-bottom: 50px;
}
header {
    border-bottom: solid 2px rgb(211, 245, 211);
    padding: 20px;
    font-size: 32px;
    color: rgb(211, 245, 211);
}

.chamada {
    background: rgb(102, 64, 92);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
h1 {
    font-size: 35px;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;

}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

.categoria-videos img {
opacity: 0.5;
height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(111, 78, 103);
}

.categoria h2 {
    color: rgb(201, 204, 202)
}
